extends layout

block content
  h1= title
  p Welcome to #{title}
  p I believe that nothing vast enters into the life of mortals without a curse like A.I 
  p which made me a Computer Nerd since then.